extends ../includes/boilerplate.jade
block css 
    link(rel='stylesheet', 
         href='/css/assignment.css')
    link(rel='stylesheet', 
             href='/components/css-toggle-switch/dist/toggle-switch.css')
                 
block content                 
    include ../includes/header.jade
    div#assignmentCanvas(overflow="auto") 
        #vis.assignmentContainer(overflow="hidden", display="block")
        -if (owner) {    
            #optionContainer.assignmentContainer  
                div(style="margin:10px 10px 10px 10px;")
                    label Share #{shared}
                    div.switch-toggle.well
                        input#public(type="radio", name="view",
                            onclick="toggleShare(true)")
                        label(for="public") Public 
                        input#private(type="radio", name="view",
                            onclick="toggleShare(false)")
                        label(for="private") Private 
                        a.btn.btn-primary
                    ul.nav.nav-pills.nav-stacked
                        li.nav-header 
                            b Choose your representation
                        li#nodelink
                            a(onclick="setvis('nodelink')") Node-link diagram
                        li#tree 
                            a(onclick="setvis('tree')") Tree 
                        li#queue
                            a(onclick="setvis('queue')") Queue
                    span upload thumbnail
                    
        -}


block footerjs

    script(src = '/components/d3/d3.min.js')
    script(src = '/components/jquery/dist/jquery.min.js')
    
    script.
        var vistype = "#{vistype}"
        $("li").removeClass("active")
        if (vistype=="tree") {
            $("#tree").addClass("active")
        }
        else if (vistype=="queue") {
            $("#queue").addClass("active")
        }
        else $("#nodelink").addClass("active")  
    script.
        var owner = "#{owner}"
        if (owner==="false") {
             $("#vis").css("width","90%") 
        } 
        var shared = "#{shared}"
        $("#private").prop('checked',false)
        $("#public").prop('checked',false)
        if (shared==="true")
            $("#public").prop('checked',true)
        else
            $("#private").prop('checked',true)

    script.
        var data = !{JSON.stringify(data)}
        
        var assignmentID = !{JSON.stringify(assignmentID)}
    - if (vistype == "nodelink")
        script(src = '/js/graph.js')
    - else if (vistype == "tree")
        link(rel='stylesheet', href='/css/vis/tree.css')
        script(src = '/js/bst/lib/bst.js')
    - else if (vistype == 'queue')
        script(src = '/js/queue.js')
    - else  
        script.
            var error = !{JSON.stringify(data)}
            $("#vis")
                .html(error.error)
                .css('color', '#eb6864')
                .css('font-size', '24px')
                .css('padding', '50px')
    script(src = '/js/visconfig.js')
    script.
        function toggleShare (selected) {
            var assignmentID = !{JSON.stringify(assignmentID)}
            $.ajax({
                url: "/assignments/"+assignmentID+"/share/"+selected,
                type: "post"
            }).done(function() {
                console.log("visibility updated")
            }).error(function(err){
                console.log(err)    
            });    
            
        }   
        function setvis (selected) {
            var assignmentID = !{JSON.stringify(assignmentID)}
            $.ajax({
                url: "/assignments/"+assignmentID+"/vistype/"+selected,
                type:"post"
            }).done(function() {
                location.reload()
                console.log("visualization type updated")    
            }).error(function(err) {
                errmsg = JSON.parse(err.responseText)
                console.log("Error: "+errmsg.error) 
            });
        }
        
