//extends ../users/layout.jade

extends ../includes/boilerplate.jade
block css 
    link(rel='stylesheet', 
<<<<<<< HEAD
=======
         href='/css/header.css')
    link(rel='stylesheet', 
>>>>>>> ef87440e10bb169ef7fad4cac97180768f51ddcf
         href='/css/assignment.css')
    link(rel='stylesheet',
        href='/css/dropzone.css')
    link(rel='stylesheet',
             href='/components/css-toggle-switch/dist/toggle-switch.css')
//extends assignment.jade
block content
    include ../includes/header.jade
    script(type="application/ecmascript" async="" src='/js/dropzone.js')
    .container
        .row
            .col-lg-6
                h1 Welcome to Bridges!
                p Create a bridge between your assignments and the world
                p Your projects are listed below

    div(style="margin:5%")
        - for (var x = 0; x < assignments.length; x++)
            div(style="float:left;width:120px; margin-left:50px")
                if (assignments[x].shared == false)
                    div(style="height:120px; background-color:red; border-radius:10px;")
                else
                    div(style="height:120px; background-color:blue; border-radius:30px;")
<<<<<<< HEAD
                            console.log(assignments[x])
=======
                //p #{assignments[x].data[0].visual}
>>>>>>> ef87440e10bb169ef7fad4cac97180768f51ddcf
                a(href="/assignments/"+assignments[x].assignmentID+"/"+usernames)
                    h4(style="text-align: center") #{assignments[x].assignmentID} #{assignments[x].data[0].visual}

