//extends ../users/layout.jade

extends ../includes/boilerplate.jade
block css 
    link(rel='stylesheet', 
         href='/css/header.css')
    link(rel='stylesheet', 
         href='/css/assignment.css')
    link(rel='stylesheet',
        href='/css/dropzone.css')
    link(rel='stylesheet',
             href='/components/css-toggle-switch/dist/toggle-switch.css')
//extends assignment.jade
block content
    include ../includes/header.jade
    script(type="application/ecmascript" async="" src='/js/dropzone.js')
    .container
        .row
            .col-lg-6
                div(style="float:left; margin-left:50px")
                    //a(href="/assignments/"+assignments[0].assignmentID+"/"+usernames)
                    h1(style="text-align: left") #{usernames}'s Gallery
                    //#{user}
                    //#{assignments[1]}

               // h1 Welcome to Bridges!
               // p Create a bridge between your assignments and the world
               // p Your projects are listed below

    div(style="margin:5%")
        - for (var x = 0; x < assignments.length; x++)
            div(style="float:left;width:120px; margin-left:50px")
                a(href="/assignments/"+assignments[x].assignmentID+"/"+usernames)
                    if (assignments[x].shared == false)
                        div(class='gallery_assignment_div_private')
                            if((assignments[x].data[0].visual=='AList') || (assignments[x].data[0].visual=='list') || (assignments[x].data[0].visual=='llist'))
                                img(src="/img/LList.png")
                            else if(assignments[x].data[0].visual=='graph')
                                img(src="/img/graph.png")
                            else if((assignments[x].data[0].visual=='tree'))
                                img(src="/img/tree.png")
                    else
                        div(class='gallery_assignment_div_public')
                            if(assignments[x].data[0].visual=='AList' || (assignments[x].data[0].visual=='list'))
                                img(src="/img/LList.png")
                            else if(assignments[x].data[0].visual=='graph')
                                img(src="/img/graph.png")
                            else if(assignments[x].data[0].visual=='tree')
                                img(src="/img/tree.png")
                //p #{assignments[x].data[0].visual}
                a(href="/assignments/"+assignments[x].assignmentID+"/"+usernames)
                    h4(style="text-align: center") #{assignments[x].assignmentID} #{assignments[x].data[0].visual}

