doctype html
html(lang="en")
head
    meta(charset = 'UTF-8')
    meta(name = 'viewport', content = 'width=device-width')
    title = title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/assignment.css')
    link(rel='stylesheet', href='/components/css-toggle-switch/dist/toggle-switch.css')
    block css
body
    include ../includes/header.jade
    div#assignmentCanvas 
        #vis.assignmentContainer
        -if (owner) {    
            #optionContainer.assignmentContainer  
                div(style="margin:10px 10px 10px 10px;")
                    label Share #{shared}
                    div.switch-toggle.well
                        input#public(type="radio", name="view",
                            onclick="toggleShare(true)")
                        label(for="public") Public 
                        input#private(type="radio", name="view",
                            onclick="toggleShare(false)")
                        label(for="private") Private 
                        a.btn.btn-primary
                    ul.nav.nav-pills.nav-stacked
                        li.nav-header 
                            b Choose your representation
                        li#nodelink
                            a(onclick="setvis('nodelink')") Node-link diagram
                        li#tree 
                            a(onclick="setvis('tree')") Tree 
                    span upload thumbnail
                    
        -}
    block js

    script.
        var vistype = "#{vistype}"
        $("li").removeClass("active")
        if (vistype=="tree") {
            $("#tree").addClass("active")
        }
        else $("#nodelink").addClass("active")  

    script.
        var owner = "#{owner}"
        if (owner==="false") {
             $("#vis").css("width","90%") 
        } 
        var shared = "#{shared}"
        $("#private").prop('checked',false)
        $("#public").prop('checked',false)
        if (shared==="true")
            $("#public").prop('checked',true)
        else
            $("#private").prop('checked',true)
