extends layout

block css
    link(rel="stylesheet", href="/css/webicons/webicons.css")
    link(rel="stylesheet", href="/css/inactive.css")
block js
    script(src="components/modernizr/modernizr.js")

block info
   if (user)
        legend Add additional datasources
        a(href="/connect/twitter").webicon.twitter.large
        div.webicon.facebook.large.inactive
        div.webicon.foursquare.large.inactive    
        div.webicon.yelp.large.inactive    
        div.webicon.linkedin.large.inactive
        div.webicon.flickr.large.inactive 
        div.webicon.google.large.inactive
        
block form
  if (user) 
    .panel.panel-info
        .panel-heading 
            h3.panel-title User information
        .panel-body      
            div  
                strong.col-lg-4 User Name: 
                div#user 
                |   #{user.username}
            div  
                Strong.col-lg-4 Email: 
                div#email
                | #{user.email}
            div
                Strong.col-lg-4 API Sha1 Key:
                div#api
                | #{user.hashed_password}
            hr
            if (acct)
                div 
                    Strong.col-lg-4 Authenticated: 
                    | #{acct.domainProvider}
            else 
                div 
                    Strong.col-lg-6 Not authenticated
    .panel.panel-info
        .panel-heading
            h3.panel-title Profile Options
        .panel-body
            div
                -var src = "/users/"+user.id
                a(href=src).btn.btn-primary Delete Account

  else 
      .well
        h1 You are not logged in! 
        a(href="/login").btn.btn-primary Log me in


