extends layout

block form
     .well
       form(action='/users', method='post').form-horizontal.bs-example
         .fieldset
           legend Create an account!   
            input(type="hidden", name="_csrf", value=csrftoken)
           .form-group
              label.col-lg-2.control-label  Username
              div.col-lg-10
                  input.form-control(type='text', 
                       name='username', 
                       placeholder='User Name')
           .form-group
              label.col-lg-2.control-label  Password
              div.col-lg-10
                  input.form-control(
                       type='password', 
                       name='password',
                       placeholder='Password')
           .form-group
              label.col-lg-2.control-label  Email
              div.col-lg-10
                  input.form-control(
                       type='email', 
                       name='email',
                       placeholder='Your Email')
           .form-group
               div.col-lg-10
                   input(type='submit', value='Register').btn.btn-primary

block validate
    -if (typeof locals.errors !== 'undefined') {
      - if (typeof locals.errors.username != 'undefined'){
          .alert.alert-danger 
            strong Username:    
            .err #{errors.username.type}    
      - }
      - if (typeof locals.errors.hashed_password != 'undefined'){
          .alert.alert-danger 
            strong Password:  
            .err  #{errors.hashed_password.type}    
      - }
      - if (typeof locals.errors.email != 'undefined'){
          .alert.alert-danger 
              strong Email: 
              .err #{errors.email.type}    
      - }
    - }
              

